.banner{
    min-height: 80vh;
    background-image: url('../../abstract-ge0db151fd_1280.png');
    background-size: cover;
}
@media only screen and (max-width:1200px){ 
    .carousel-item img{
        height: 70vh;
    }
    .carousel-caption{
        margin-bottom: 110px;
    }   
}